In [6]:
print(1,2,3)

1 2 3

In [7]:
y= print(1,2,3)

1 2 3

In [8]:
y = (91,2,3)

In [9]:
y

(91, 2, 3)

In [10]:
type(y)

tuple

In [11]:
y = set(y)

In [12]:
y

{2, 3, 91}

In [13]:
type(y)

set

In [14]:
y = list(y)

In [15]:
y

[3, 2, 91]

In [16]:
type(y)

list

# display user input

In [17]:
def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [18]:
row1 = [' ',' ',' ']
row2 = [' ',' ',' ']
row3 = [' ',' ',' ']

In [19]:
display(row1,row2,row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

# Accepting user input

In [21]:
position_index = int(input(" Enter index position : "))

 Enter index position : 23

In [22]:
position_index = int(input(" Enter index position : "))

 Enter index position : 3

In [23]:
type(position_index)

int

# Validating user input

In [24]:
def user_choice():
    choice = 'Wrong'
    acceptable_range = range(0,11)
    within_range = False
    
    while choice.isdigit() == False or within_range == False:
        choice = input("Enter number between 0-10: ")
        
        if choice.isdigit() == False :
            print("Sorry it's not a digit !!")
        else:
            if int(choice) in acceptable_range:
                within_range = True
            else:
                print("Sorry it's not a not in range")
                within_range = False
                
    return int(choice)

In [25]:
user_choice()

Enter number between 0-10: ds
Sorry it's not a digit !!
Enter number between 0-10: 34
Sorry it's not a not in range
Enter number between 0-10: 4

4

# Display plan

In [61]:
def display_tictac():
    
    D = {"vert" :'    |   |    ' , "hor": '---------------' }
    
    print(D['vert']) 
    print(D['vert'])
    print(D['vert'])
    
    print(D['hor'])
    
    print(D['vert'])
    print(D['vert'])
    print(D['vert'])
    
    print(D['hor'])
    
    print(D['vert'])
    print(D['vert'])
    print(D['vert'])

In [62]:
display_tictac()

    |   |
    |   |
    |   |
---------------
    |   |
    |   |
    |   |
---------------
    |   |
    |   |
    |   |

In [30]:
D

{'vert': ' |  | ', 'Hor': '------------'}

In [31]:
D[1]

KeyError: 1

In [32]:
D['vert']

' |  | '